<html>

    <head>
        <meta charset='utf-8'>
        <title>Portfolio</title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            body{
                /* background:linear-gradient(370deg,#BD3F32,#CB356B); */
                /* background:linear-gradient(370deg,#2a0845,#6441A5); */
                 background:linear-gradient(370deg,#654e5e, #bbb5c1);
                height:900px;
                
            }
            h1{
                color:white;
            }
            #container{
                width:900px;
                padding:10px;
                background:linear-gradient(370deg,ghostwhite,whitesmoke);
                min-height: 400px;
                margin-top:20px;
                border-radius:8px;
                /* box-shadow: 5px 14px 27px 19px lightpink inset; */
                
            }
           #logout{
               margin-top:20px;
           }
            .table td {
            text-align: center;   
            }

        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $("#feed").click(function(){
                $("#full").load("demo_test.txt");
            });
        });
        </script>
    </head>
    <body>
       
        <div class="row">
            <div class="col-sm-7">
                <h1>@ViewBag.Wedders.WedderOne.FName @ViewBag.Wedders.WedderOne.LName and @ViewBag.Wedders.WedderTwo.FName @ViewBag.Wedders.WedderTwo.LName's Wedding</h1>
            </div>
            <div class="col-sm-1">
                <a  class="btn btn-default" id="logout" href="/dashboard">Dashboard</a>
            </div>
            <div class="col-sm-1">
                <a  class="btn btn-default" id="logout" href="/login">Sign In</a>
            </div>

        </div>
        <div id = "container">
            <div class = "row">
                <div class = "col-sm-6">
                <h3>Date:</h3>
                </div>
            </div>
            <div class = "row">
                <div class = "col-sm-6">
                <h4>Guests:</h4>
                @{
                    foreach(var item in ViewBag.Wedding)
                    {
                        foreach(var guest in item.Attendees){
                            <p>@guest.User.FName @guest.User.LName</p>

                        }
                    }
                }
                </div>
            </div>
        </div>
            


    </body>

</html>
